.noteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
  max-height: 27rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
