.noteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
  max-height: 24rem;
  min-height: 24rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
