.container {
  background-color: var(--pink-color, #ffdfde);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue-color, #6a7ba2);
  padding: 1rem;
  border-radius: 1rem;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.titleStyle {
  font-size: 1.5rem;
  font-weight: 700;
}

.contentStyle {
  font-size: 1rem;
}
.star {
  font-size: 1.7rem;
  color: #ffcc60;
}
