.nav {
  display: flex;
  padding: 1rem 0;
}
.backBtn {
  background: none;
  border: none;
  outline: none;
  color: var(--blue-color, #6a7ba2);
  padding: 0.5rem;
  background-color: var(--pink-color, #ffdfde);
  border-radius: 8px;
}
