.container {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-bottom: 2rem;
  margin-right: 2rem;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  margin-bottom: 2rem;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
}
.span {
  font-size: 1.2rem;
  font-weight: 500;
}
.toggleBtn {
  width: 3rem;
  cursor: pointer;
}
